<%= stylesheet_link_tag "cinq" %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('.scrollTo').click( function() { // Au clic sur un élément
      var page = $(this).attr('href'); // Page cible
      var speed = 750; // Durée de l'animation (en ms)
      $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
      return false;
    });
  });
</script>
<body id="grad">

<br>
<br>
<br><br>
<br>
<section>
<input type="radio" id="profile" value="1" name="tractor" checked='checked' />
<input type="radio" id="settings" value="2" name="tractor" />
<input type="radio" id="posts" value="3" name="tractor" />
<input type="radio" id="books" value="4" name="tractor" />
  <input type="radio" id="vendredi" value="5" name="tractor" />


  <nav>
  <label for="settings" class=''>Lundi</label>
  <label for="posts" class=>Mardi</label>
  <label for="books" class=>Mercredi</label>
  <label for="profile" class=>Jeudi</label>
   <label for="vendredi" class=>Vendredi</label>
  </nav>

  <article class='uno'>
    <h2>
      <!-- <img src='../assets/crudité.jpg' class="center-block img-responsive"/> -->
     <!--  <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-md-offset-3 img-responsive "> -->
      <img alt=''  src='../assets/crudité.jpg'  />
        <!--   </div>
        </div>
      </div> -->
<button type="button" class="btn btn-warning">Warning</button>

      <span>Spanish Css blog</span></h2>
 <!--   <footer>
    <ul>
      <li class=''></li>
      <li class=''></li>
      <li class='fontawesome-coffee'></li>
      <li class='fontawesome-hand-left'></li>
    </ul>
   </footer> -->
  </article>

  <article class='dos '>
<!--
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
 -->
 <br>
<img src='../assets/lucien.jpg' class="center-block img-responsive" height="427" style="max-width: 640px">



<!--     </div>
  </div>
</div> -->


  </article>

  <article class='tres '>
    <img src='../assets/chèvre et miel.jpg' class="center-block img-responsive" height="427" style="max-width: 640px">
  </article>

  <article class='cuatro'>
<!-- <img src='../assets/burritos.jpg' class="center-block img-responsive" /> -->

<img src='../assets/burritos.jpg' class="center-block img-responsive" height="427" style="max-width: 640px">
    <dl>
      <dt>Guía de Transiciones Css</dt>
      <dd>Todas y cada una de las propiedades css que componen el grupo de las transitions con demos.
    </dl>
  </article>


  <article class='cinqo'>
    <img src='../assets/planet-maki.jpg' class="center-block img-responsive" height="427" style="max-width: 640px">
  </article>
</section>

<ul class="menu">
  <li><a class="scrollTo" href="#page-1">Page1</a></li>
  <li><a class="scrollTo" href="#page-2">Page 2</a></li>
</ul>

<div id="page-1">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatibus tempore blanditiis sunt laudantium accusamus expedita consequatur nulla et dolore modi rerum, officiis, tenetur nemo molestias veniam non. Ex, omnis.
  <!-- Contenu Page 1 -->
</div><!-- /page-1 -->
<img src='../assets/crudité.jpg' class="center-block img-responsive"/>
<button type="button" class="btn btn-warning center-block  ">Warning</button>

<!-- <div class="section3"></div> -->

<br>
<br> <br> <br> <br> <br> <br><br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
<br> <br> <br> <br> <br>


<div id="page-2">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea laudantium facere quibusdam dolore dolor iure reprehenderit excepturi molestias fugiat ad impedit delectus nulla ipsam, consectetur. Fugit tempore itaque et sequi?<!-- Contenu Page 2 -->
</div><!-- /page-2 -->



</body>
