/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.wrapper {
  // background-image: url('app/assets/images/lucien.jpg');
  background-image: image-url("lucien.jpg");
  height: 650px;
  background-size: cover;
  padding-top: 150px;
  text-align: center;
  color: white;
}
