<!-- <p><%= review.content %> <%= review.price %>  € </p> -->

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="width: 1%">

  <div class="container">

    <div id="cart">



      <div class="product">
        <header>
          <a class="remove">
            <img src="http://www.astudio.si/preview/blockedwp/wp-content/uploads/2012/08/5.jpg" alt="">

            <h3>Remove</h3>
          </a>
        </header>

        <footer class="content">

          <span class="qt-minus">-</span>
          <span class="qt">1</span>
          <span class="qt-plus">+</span>

          <h2 class="full-price">  <%= review.price %>  </h2>

          <h2 class="price">  <%= review.price %> € </h2>
        </footer>
      </div>

    </div>

  </div>





    </div>
  </div>
</div>

